---
import "material-dynamic-colors";
const { title }: { title?: string } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="IDOLS DIAGRAM [アイドル相関図]" />
    <meta
      property="og:title"
      content={title
        ? `${title} | IDOLS DIAGRAM`
        : "IDOLS DIAGRAM [アイドル相関図]"}
    />
    <meta property="og:description" content={import.meta.env.OG_DESCRIPTION} />
    <meta property="og:locale" content="ja_JP" />
    <meta
      property="og:image"
      content={title
        ? `${import.meta.env.OG_IMAGE_DOMAIN}/images_s/${encodeURIComponent(title)}.png`
        : `${import.meta.env.OG_IMAGE_DOMAIN}/og.png`}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content={title
        ? `${title} | IDOLS DIAGRAM`
        : "IDOLS DIAGRAM [アイドル相関図]"}
    />
    <meta name="twitter:description" content={import.meta.env.OG_DESCRIPTION} />
    <meta
      name="twitter:image"
      content={title
        ? `${import.meta.env.OG_IMAGE_DOMAIN}/images_s/${encodeURIComponent(title)}.png`
        : `${import.meta.env.OG_IMAGE_DOMAIN}/twitter.png`}
    />
    <meta name="description" content={import.meta.env.OG_DESCRIPTION} />
    <title>IDOLS DIAGRAM{title ? ` | ${title}` : ""}</title>
  </head>
  <body class="dark">
    <slot />
    <script>
      import "beercss";
    </script>
    <script
      async
      src={`https://www.googletagmanager.com/gtag/js?id=${import.meta.env.GA_MEASUREMENT_ID}`}
      is:inline></script>
    <script
      is:inline
      define:vars={{ gaMeasurementId: import.meta.env.GA_MEASUREMENT_ID }}
    >
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", gaMeasurementId);
    </script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3746158105867064"
      crossorigin="anonymous"
      is:inline></script>
  </body>
</html>
